*
!.gitignore

!doc/

!src/
!idrsolver/
!tests/

!external/
!jdqzpp/

!gmressolver/
!supervector/
!utils/
!ocean/
!atmosphere/
!main/
!coupledmodel/
!tests/
!thetastepper/
!continuation/
!multiarray/
!newton/
!mrilucpp/

!current/

!test/
!default/
!jdqz/
!masks/
!masks_light/

!run/
!paleo
!65Ma*

!parameterfiles/

!matlab/

!scripts/

!notes/
!patch/
!11.*

!Doxyfile*
!Makefile*
!makefile*
!Makefile.*

!CMakeLists.*

!*.m
!*.xml
!*.C
!*.cpp
!*.cc
!*.CC
!*.H
!*.h
!*.hpp
!*.f
!*.f90
!*.F
!*.F90
!*.sh
!*.note
*.#*
*~
