*
!.gitignore

!doc/
!src/
!parameters/

!make.inc/
!utils/
!ocean/
!newton/
!test/

!Doxyfile*
!Makefile*
!makefile*
!Makefile.*

!*.m
!*.xml
!*.C
!*.cpp
!*.cc
!*.CC
!*.H
!*.h
!*.hpp
!*.f
!*.f90
!*.F
!*.F90

!*.note
*.#*
*~
