*
!.gitignore

!doc/
!src/
!idrsolver/
!gmressolver/
!supervector/
!parameters/
!parameterfiles/
!matlab/
!make.inc/
!utils/
!ocean/
!atmosphere/
!coupledmodel/
!newton/
!continuation/
!test/
!main/
!scripts/
!thetastepper/
!multiarray/

!Doxyfile*
!Makefile*
!makefile*
!Makefile.*

!*.m
!*.xml
!*.C
!*.cpp
!*.cc
!*.CC
!*.H
!*.h
!*.hpp
!*.f
!*.f90
!*.F
!*.F90
!*.sh

!*.note
*.#*
*~
